{# If you have a "Content Type" for header in Built.io Contentstack then use get() view helper to retrieve header entry. #}
{# e.g. set header = get("header_content_type_id") #}
{# And then render header values using the {{header.field_name}} #}
{%- set header = get('header') -%}
<header>
	<div class="row ribbon-wrap text-center">
			<div class="container">
				<p>{{header.ribbon_section.title}}</p>
				<a class="cta" href="{{header.ribbon_section.link.href}}" id="ribbon-info">{{header.ribbon_section.link.title}}</a>
				<i class="fa fa-close icon-cancel" id="close"></i>
			</div>
	</div>
	<!-- header section -->
	<div class="row page-header">
				<div class="col-sm-6 website-logo-div1">
						<a href="#">
								<img class="website-logo" src="{{getAssetUrl(header.page_header.logo_8x8)}}" alt="8x8 logo">
						</a>
				</div>
				<div class="col-sm-6  website-logo-div2 align-middle">
					<div class="h2-text align-middle">
					<h2>
						<strong>{{header.page_header.title}}</strong>
					</h2>
					<h2>
							<a href="#" class="phone-number">
								<img class="call-icon" src="{{getAssetUrl(header.page_header.call_logo)}}" alt="8x8 logo">
								<strong>{{header.page_header.phone_number}}</strong>
							</a>
					</h2>
				</div>
				</div>
    </div>
</header>