{# If you have a "Content Type" for header in Built.io Contentstack then use get() view helper to retrieve header entry. #}
{# e.g. set header = get("header_content_type_id") #}
{# And then render header values using the {{header.field_name}} #}
{%- set ribbon = get('ribbon') -%}

<!-- ribbon section -->
<div class="ribbon-wrap text-center">
		<div class="container">
				<p>Built.io joins Software AG! Read all about the news.</p>
				<a class="cta" href="#" id="ribbon-info">Link</a>
				<i class="fa fa-close icon-cancel" id="close"></i>
		</div>
</div>