/*  ------------------------------------------------------
  ribbon section
  ------------------------------------------------------*/
.ribbon-wrap {
  top: 0;
  background: #131313;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1; }
  .ribbon-wrap p {
    font-size: 16px;
    margin: 0;
    color: white;
    display: inline-block; }
  .ribbon-wrap .cta {
    margin-left: 15px;
    padding: 5px 20px;
    font-size: 14px;
    color: #fff;
    margin-top: -3px;
    border: 1px solid #fff;
    font-weight: 400;
    box-shadow: none;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block; }
    .ribbon-wrap .cta:hover {
      text-decoration: none;
      color: white; }
  .ribbon-wrap .icon-cancel {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }

body {
  /*background: #E4E8EB;*/
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  margin: 0; }

/*  ------------------------------------------------------
  page header section
	------------------------------------------------------*/
.main-wrapper {
  background-color: #f1f3f4;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /*  ------------------------------------------------------
 					media object section
	------------------------------------------------------*/ }
  .main-wrapper .page-container {
    padding: 5px 0;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 40px;
    /*  ------------------------------------------------------
						page form section
		------------------------------------------------------*/ }
    .main-wrapper .page-container .page-header {
      top: 0;
      margin-top: 58px auto;
      margin: 58px auto 0;
      /*border: 1px solid red;*/
      position: fixed;
      width: 100%;
      z-index: 1; }
      .main-wrapper .page-container .page-header .website-logo-div1 {
        padding: 20px 0;
        background-color: #ffffff; }
        .main-wrapper .page-container .page-header .website-logo-div1 .logo-8x8 {
          width: 110px;
          height: auto; }
      .main-wrapper .page-container .page-header .website-logo-div2 {
        padding: 20px 0;
        background-color: #ffffff; }
        .main-wrapper .page-container .page-header .website-logo-div2 h2 {
          font-size: 1.5rem !important;
          color: #666; }
        .main-wrapper .page-container .page-header .website-logo-div2 .phone-number {
          color: #3faee4;
          line-height: 32px;
          cursor: pointer; }
          .main-wrapper .page-container .page-header .website-logo-div2 .phone-number:hover {
            text-decoration: none;
            color: #e52920;
            transition: color .6s ease; }
          .main-wrapper .page-container .page-header .website-logo-div2 .phone-number .call-icon {
            width: 30px;
            height: 30px;
            margin-top: -3px; }
    .main-wrapper .page-container .from-wrapper-img {
      background-repeat: no-repeat;
      background-size: cover; }
    .main-wrapper .page-container label {
      margin-bottom: 5px;
      color: #888;
      font-weight: 600;
      pointer-events: none; }
    .main-wrapper .page-container .form-wrapper {
      margin-top: 100px;
      padding: 20px 20px;
      /*  ------------------------------------------------------
							page form fields
		------------------------------------------------------*/ }
      .main-wrapper .page-container .form-wrapper .form-left-col {
        padding: 10px 10px;
        margin: 12px 0px;
        margin-right: 20px; }
        .main-wrapper .page-container .form-wrapper .form-left-col .col-heading {
          font-size: 24pt;
          line-height: 25pt;
          color: #1d2a38;
          font-family: Open Sans,Arial,sans-serif; }
      .main-wrapper .page-container .form-wrapper .col-description {
        font-size: 14pt;
        vertical-align: baseline;
        text-align: left;
        color: #555;
        font-family: Open Sans,Arial,sans-serif;
        padding: 0px 13px;
        margin-right: 20px; }
      .main-wrapper .page-container .form-wrapper .company-logo-div {
        text-align: center; }
        .main-wrapper .page-container .form-wrapper .company-logo-div .company-logo {
          width: 400px;
          height: 142px; }
      .main-wrapper .page-container .form-wrapper .login-form {
        padding: 20px; }
        .main-wrapper .page-container .form-wrapper .login-form .form-control {
          width: 85%;
          height: calc(2rem + 6px);
          border-radius: unset; }
          .main-wrapper .page-container .form-wrapper .login-form .form-control:focus {
            box-shadow: none;
            border-color: #888; }
        .main-wrapper .page-container .form-wrapper .login-form .quote-button {
          border: 0;
          border-radius: 5px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          color: #fff;
          cursor: pointer;
          font-size: .93333rem;
          font-weight: 700;
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
          text-transform: uppercase;
          transition: none;
          background-color: #e52920;
          margin: 0 auto; }
          .main-wrapper .page-container .form-wrapper .login-form .quote-button:focus {
            box-shadow: none; }
          .main-wrapper .page-container .form-wrapper .login-form .quote-button:hover {
            background-color: #bc1e16; }
        .main-wrapper .page-container .form-wrapper .login-form .privacy-link {
          font-size: 12px;
          margin: 0 auto;
          margin-top: 35px;
          margin-bottom: 30px; }
          .main-wrapper .page-container .form-wrapper .login-form .privacy-link:hover {
            color: #e52920;
            text-decoration: none;
            transition: color .6s ease; }
  .main-wrapper .media-object-sec {
    margin-top: 90px; }
    .main-wrapper .media-object-sec .first_media_row {
      padding-bottom: 30px; }
      .main-wrapper .media-object-sec .first_media_row .thumbnail-media {
        padding-bottom: 20px;
        margin: 0 auto; }
      .main-wrapper .media-object-sec .first_media_row .media-obj-heading {
        font-size: 14pt;
        color: #5f8aa0; }
      .main-wrapper .media-object-sec .first_media_row .media-obj-content {
        /*font-size: 14pt;*/
        color: #555;
        font-family: Open Sans,Arial,sans-serif;
        line-height: 1.7em; }
    .main-wrapper .media-object-sec .media_quote_btn_row {
      margin-top: 15px;
      margin-bottom: 50px; }
      .main-wrapper .media-object-sec .media_quote_btn_row .media-quote-button {
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        transition: none;
        background-color: #e52920;
        margin: 0 auto;
        padding: 7px 26px; }
        .main-wrapper .media-object-sec .media_quote_btn_row .media-quote-button:focus {
          box-shadow: none; }
        .main-wrapper .media-object-sec .media_quote_btn_row .media-quote-button:hover {
          background-color: #bc1e16;
          transition: opacity .6s ease-in-out; }

/*  ------------------------------------------------------
 Communication section
  ------------------------------------------------------*/
.communication_setion {
  background-color: #ffffff;
  padding-top: 30px; }
  .communication_setion .communication_sec_content {
    margin-top: 30px; }
    .communication_setion .communication_sec_content h1 {
      font-weight: 300 !important;
      color: #555;
      margin-bottom: 35px; }
    .communication_setion .communication_sec_content .communication_image {
      width: 100%;
      height: auto; }
    .communication_setion .communication_sec_content .communication_sec_description {
      padding: 20px; }
      .communication_setion .communication_sec_content .communication_sec_description h5 {
        color: #555;
        padding: 20px 0;
        font-weight: 600 !important;
        font-family: Open Sans,Arial,sans-serif; }
      .communication_setion .communication_sec_content .communication_sec_description .communication_sec_description p {
        color: #555;
        line-height: 1.7em;
        font-size: 16px; }
    .communication_setion .communication_sec_content .media_quote_btn_row {
      margin-top: 15px;
      margin-bottom: 50px; }
      .communication_setion .communication_sec_content .media_quote_btn_row .media-quote-button {
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        transition: none;
        background-color: #e52920;
        margin: 0 auto;
        padding: 7px 26px; }
        .communication_setion .communication_sec_content .media_quote_btn_row .media-quote-button:focus {
          box-shadow: none; }
        .communication_setion .communication_sec_content .media_quote_btn_row .media-quote-button:hover {
          background-color: #bc1e16;
          transition: opacity .6s ease-in-out; }

@media only screen and (max-width: 980px) {
  .website-logo-div1 {
    padding-bottom: 0px;
    text-align: left; }
  .website-logo-div2 {
    padding-bottom: 0px;
    text-align: right;
    padding-right: 30px; } }

@media only screen and (max-width: 640px) {
  .ribbon-wrap p {
    margin: 0 0 5px;
    display: block;
    font-size: 10px;
    font-weight: 300; }
  .ribbon-wrap .cta {
    font-size: 10px; } }

@media only screen and (max-width: 575px) {
  .cta {
    margin-top: 5px; }
  .ribbon-wrap {
    padding: 10px 0; }
  .website-logo-div1 {
    display: none; }
  .website-logo-div2 {
    text-align: center;
    margin-top: 10px; } }
